body {
    background-color: black;
    font-family: Verdana, sans-serif;
}

.backdrop {
    background-image: url("../img/back-min.jpg");
    background-repeat: no-repeat;
    padding: 1%;
    background-size: cover;
    height: 50vw;
    margin: 0 1% 1% 1%;
    background-size: cover;
    overflow-x: auto;
    display: flex;
}

.listing {
    font-size: 18px;
    line-height: 1.5;
    
}
.tabledel {
    border: 1px solid black;
    border-color: black;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    height: 30px;
    background: rgba(209,250,250,0.6);
    
    
}


.tableadd {
    border-spacing: 0;
    border: 0;
    height: 50%;
    text-align: left;
    padding: 12px;
}

.trans {
    background: rgba(209,250,250,0.6);
}

.textcolor {
    background:gray;
}

.row {
    display: flex;
    margin-left: 10px;
    margin-right: 600px;
}

.column {
    flex: 35%;
}
.icondel {
    background-color: darkcyan;
    color: white;
    margin: 8px 4px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);    
}

.button {
    height: 30px;
    width: 100px;
    background-color: darkcyan;
    color: white;
    text-align: center;
    border: 2px solid darkcyan;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 18px;
    align-self: center;
    margin-left: 500px;
    cursor: pointer;
}
.buttoncancel {
    height: 30px;
    width: 100px;
    background-color: darkcyan;
    color: white;
    text-align: center;
    border: 2px solid darkcyan;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 18px;
    align-self: center;
    margin-left: 10px;
    cursor: pointer;
}

.buttonaction:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media screen and (max-width: 600px) {
    table thead {
        display: none;
    }

    table td {
        display: flex;
    }

        table td::before {
            content: attr(tabledel);
            font-weight: bold;
            width: 120px;
            min-width: 120px;
        }
}


